<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/misc.css">
        <title>Error 404 </title>
    </head>
    <body>
        <h1 class="e404"> ERROR 404 <br> Page not found </h1>
        <img class="Icybear" src="/Images/Icy_Bear.gif"><br>
        <a class="go_back back_404" href="/back"> Try Again </a>
    </body>
</html>