<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/misc.css">
        <title>Login failed </title>
        <%- include('../partials/tagline.ejs')  %> 
    </head>
    <body>
        <h1 class="e404"> Either Username or Password is wrong </h1>
        <a class="go_back" href="/back"> Try Again </a>
    </body>
</html>