<!DOCTYPE html>
    <head>
        <title> Login success </title>
        <link rel="stylesheet" href="/misc.css">
    </head>
    <body>
	  <div class="cont">	
            <h1 class="success"> You logged in successfully </h1>
            <img class="Grizz" src="/Images/Grizz.gif">
            <h2 class="eligible"> You are now eligible for winning 2000/month + download any game from our website which is about to be live </h2>
	  </div>
    </body>
</html>